[submodule "src/thirdparty/AsmJit"]
	path = src/thirdparty/AsmJit
	url = https://github.com/asmjit/asmjit.git
[submodule "src/thirdparty/boost"]
	path = src/thirdparty/boost
	url = https://github.com/boostorg/python.git
[submodule "src/thirdparty/DynamicHooks"]
	path = src/thirdparty/DynamicHooks
	url = https://github.com/Ayuto/DynamicHooks.git
[submodule "src/thirdparty/dyncall"]
	path = src/thirdparty/dyncall
	url = https://github.com/LWJGL-CI/dyncall.git
[submodule "src/thirdparty/python"]
	path = src/thirdparty/python
	url = https://github.com/python/cpython.git
