[submodule "src/thirdparty/AsmJit"]
	path = src/thirdparty/AsmJit
	url = https://github.com/asmjit/asmjit.git
[submodule "src/thirdparty/dyncall"]
	path = src/thirdparty/dyncall
	url = https://github.com/LWJGL-CI/dyncall.git
[submodule "src/thirdparty/python"]
	path = src/thirdparty/python
	url = https://github.com/python/cpython.git
[submodule "DynamicHooks"]
	path = src/thirdparty/DynamicHooks
	url = https://github.com/waldotf/DynamicHooks.git
